<div class="home-banner">
<p><span id="banner-typed-text"></span></p>
  <h1>Le Wagon</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 3 %>
    </div>
  </div>
</div>