.home-banner {
  background-image: url('https://iphonesoft.fr/images/_082019/fond-ecran-dynamique-macos-wallpaper-club.jpg');
  background-size: cover;
  height: 70vh;
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size:40px;
  line-height: 0.9;
}